{{#stories/story-base}}
  {{#if twitterUser}}
    <div cpn-tweets>
      {{#each tweet in tweets}}
      <div cpn-tweet>
        <a target="_blank" href="http://twitter.com/{{tweet.user_username}}" cpn-tweet_avatar>
          <img src="{{tweet.user_avatar_url}}" alt="">
        </a>
        <div cpn-tweet_body>
          <time cpn-tweet_time>{{tweet.friendly_date}}</time>
          <h3 cpn-tweet_user-names>
            <a target="_blank" href="http://twitter.com/{{tweet.user_username}}">
              <span cpn-tweet_real-name>{{tweet.user_real_name}}</span> <span cpn-tweet_username>@{{tweet.user_username}}</span>
            </a>
          </h3>
          <p cpn-tweet_text>{{{tweet.text}}}</p>
          <div cpn-tweet_media></div>
          <div cpn-tweet_actions>
            <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
            <a data-grunticon-embed class="svg-twitter-reply icon-twitter-reply" cpn-tweet_action="reply" href="https://twitter.com/intent/tweet?in_reply_to={{tweet.tweet_id}}">Reply</a>
            <a data-grunticon-embed class="svg-twitter-retweet icon-twitter-retweet" cpn-tweet_action="retweet" href="https://twitter.com/intent/retweet?tweet_id={{tweet.tweet_id}}">Retweet</a>
            <a data-grunticon-embed class="svg-twitter-like icon-twitter-like" cpn-tweet_action="like" href="https://twitter.com/intent/like?tweet_id={{tweet.tweet_id}}">Like</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  {{else}}
    <div cpn-padding="right left" cpn-margin="top">
      <button cpn-button="action" cpn-margin="top" {{action "editAStory" storyModel}}>Add a Twitter user</button>
    </div>
  {{/if}}
{{/stories/story-base}}
