{{#stories/story-base}}
  {{#if twitterUser}}
    {{#each tweet in tweets}}
        <div spc-tweet>
            <h2 spc-tweet_user>
                <a href="{{tweet.user_url}}" target="_blank">
                    <span spc-tweet_name>{{tweet.user_name}}</span>
                    <span spc-tweet_handle>@{{tweet.user_name}}</span>
                </a>
            </h2>
            <p spc-tweet_body>{{tweet.text}}</p>
            <time spc-tweet_time>{{tweet.friendly_date}}</time>
        </div>
    {{/each}}
  {{else}}
    <div cpn-padding="right left" cpn-margin="top">
      <button cpn-button="action" cpn-margin="top" {{action "editAStory" storyModel}}>Add a Twitter user</button>
    </div>
  {{/if}}
{{/stories/story-base}}
