<div cpn-divide="bottom" cpn-cleafix>
	<a {{action "closeBottomDrawer"}} cpn-frame_close cpn-float="right" class="svg-close-drawer"></a>
	<h2 cpn-frame_heading>{{mainTitle}}</h2>
</div>

<div cpn-divide="bottom">
	<p>
		{{input value=title placeholder="Title" autocapitalize="words"}}
		{{#if canvas.errors.title}}
			<div cpn-message="error" cpn-margin="top-half">{{canvas.errors.title.message}}</div>
		{{/if}}
	</p>
	
	<p>
		{{textarea placeholder="Description" value=description autocapitalize="sentences" autocorrect="on"}}
		{{#if canvas.errors.description}}
			<div cpn-message="error" cpn-margin="top-half">{{canvas.errors.description.message}}</div>
		{{/if}}
	</p>
	
	<div cpn-row-list>
		<div>
			{{ select-2
				content=allCategories
				value=categories
				optionLabelPath="title"
				placeholder="Choose a category"
				multiple=true
				class="margin-bottom-no"
			}}
		</div>
		<div>
			{{input value=author placeholder="Author Name" autocapitalize="words"}}
			{{#if canvas.errors.author}}
				<div cpn-message="error" cpn-margin="top-half">{{canvas.errors.author.message}}</div>
			{{/if}}
		</div>
		<div>
			{{input value=twitter placeholder="Twitter Name"}}
			{{#if canvas.errors.twitter}}
				<div cpn-message="error" cpn-margin="top-half">{{canvas.errors.twitter.message}}</div>
			{{/if}}
		</div>
	</div>
	
	{{#each canvas.errors.messages as |message|}}
		<p cpn-message="error">{{message}}</p>
	{{/each}}
</div>

{{yield}}

<p cpn-display="inline-block">
	<button cpn-button="action" {{action "save"}}>Save</button>
</p>