<div cpn-padding="right-double bottom-double left-double">
	<div cpn-divide="bottom solid faded-dark" cpn-padding="bottom" cpn-margin="bottom-double">
		{{yield}}

		<p>
			{{input value=title placeholder="Title" autocapitalize="words"}}
			{{#if canvas.errors.title}}
				<div cpn-message="error" cpn-margin="top-half">{{canvas.errors.title.message}}</div>
			{{/if}}
		</p>
		
		<p>
			{{textarea placeholder="Description" value=description autocapitalize="sentences" autocorrect="on"}}
			{{#if canvas.errors.description}}
				<div cpn-message="error" cpn-margin="top-half">{{canvas.errors.description.message}}</div>
			{{/if}}
		</p>
		
		<p>
			{{ select-2
				content=allCategories
				value=categories
				optionLabelPath="title"
				placeholder="Choose a category"
				multiple=true
				class="margin-bottom-no"
			}}
		</p>
		
		<p>
			{{input value=author placeholder="Author Name" autocapitalize="words"}}
			{{#if canvas.errors.author}}
				<div cpn-message="error" cpn-margin="top-half">{{canvas.errors.author.message}}</div>
			{{/if}}
		</p>
		
		<p>
			{{input value=twitter placeholder="Twitter Name"}}
			{{#if canvas.errors.twitter}}
				<div cpn-message="error" cpn-margin="top-half">{{canvas.errors.twitter.message}}</div>
			{{/if}}
		</p>
		
		{{#each canvas.errors.messages as |message|}}
			<p cpn-message="error">{{message}}</p>
		{{/each}}
	</div>
	
	<ul cpn-row-list>
		<li>
			<button cpn-button="action" {{action "save"}}>Save</button>
		</li>
	</ul>
</div>