<div class="drawer__header">
	<h2 class="drawer__heading -alpha float--left">{{mainTitle}}</h2>
	{{ui/generic-element action="closeBottomDrawer" tagName="a" classes="js-close-bottom-drawer float--right drawer__close svg-close-drawer"}}
</div>
<div class="drawer__inner">
	<p>{{message}}</p>
	{{yield}}
	
	<div class="create-a-story -form -admin">
		<p>{{input value=title placeholder="Story Title e.g. Analogue Clock"}}
			{{#if story.errors.title}}
				<br />{{story.errors.title.message}}
			{{/if}}
		</p>
		
		{{!--
			<p>{{input value=storyType placeholder="Story Type e.g. clock-face"}}</p>
			<p>{{input value=configJSON placeholder="Config JSON e.g. { 'test' : 'testy' }"}}</p>
		--}}
		
		{{ select-2
			content=allCategories
			value=categories
			optionLabelPath="title"
			placeholder="Choose a category"
			multiple=true
		}}
		
		{{#if configFields}}
			{{#each configFields as |field|}}
				<label>{{field.placeholder}}</label>{{input type=field.type value=field.value placeholder=field.placeholder}}
			{{/each}}
		{{/if}}
		
		{{#each story.errors.messages as |message|}}
			<div class="error">
				{{message}}
			</div>
		{{/each}}
		
		<button class="btn" {{ action "save"}}>SAVE NEW STORY</button>
	</div>
	
	{{!-- admin/create-a-category --}}
</div>