<div cpn-divide="bottom" cpn-cleafix>
	<a {{action "closeBottomDrawer"}} cpn-frame_close cpn-float="right" class="svg-close-drawer"></a>
	<h2 cpn-frame_heading>Create a story</h2>
</div>

<div class="drawer__inner">
	<p>{{message}}</p>
	{{yield}}
	
	{{!-- canvas-gallery/create-a-canvas --}}
	
	<div cpn-margin="bottom-double" class="create-a-story -form -admin">
		<p>{{input value=title placeholder="Story Title e.g. Analogue Clock" autocapitalize="words"}}
			{{#if story.errors.title}}
				<br />{{story.errors.title.message}}
			{{/if}}
		</p>
		<p>{{input value=storyType placeholder="Story Type e.g. clock-face"}}</p>
		<p>{{input value=configJSON placeholder="Config JSON e.g. { 'test' : 'testy' }"}}</p>

		{{ select-2
			content=allCategories
			value=categories
			optionLabelPath="title"
			placeholder="Choose a category"
			multiple=true
		}}
		
		{{#each story.errors.messages as |message|}}
			<p cpn-message="error">
				{{message}}
			</p>
		{{/each}}
		
		<p cpn-display="inline-block" cpn-margin="bottom-double">
			<button cpn-button="action" {{action "save"}}>Save new story</button>
		</p>
	</div>
	
	{{admin/create-a-category}}
</div>