<div class="stat-notices__inner">

    <div class="btn-list">
        <button class="btn -toggle {{filterType}}" data-btn-type="featured" {{action "filterByType" "All"}}>All</button>
        <button class="btn -toggle {{filterType}}" data-btn-type="planning" {{action "filterByType" "Planning"}}>Planning</button>
        <button class="btn -toggle {{filterType}}" data-btn-type="licensing" {{action "filterByType" "Licensing"}}>Licensing</button>
        
        <div class="stat-notices__filter-place-search">
            {{
                select-2
                
                content=places
                optionLabelPath="NAME1"
                value=filterPlace
                
                placeholder="Search for a place"
                typeaheadSearchingText="Searching places"
                typeaheadNoMatchesText="No places found for '%@'"
                typeaheadErrorText="Loading failed: %@"
                minimumInputLength=3
                query="findPlaces"
            }}
        </div>
        
        {{#if filterPlace}}
            <button class="btn -selected -toggable -on" data-btn-type="location" {{action "clearPlace"}}>{{filterPlace.NAME1}}</button>
        {{/if}}
        
        <button class="btn -action -right" {{action "notifyMe"}}>Notify Me</button>
    </div>


	{{yield}}


    <section class="list__section -notices">
        <div class="cf"></div>
        <ul class="list">
            {{#unless items}}
                <h2 class="pad-top">Sorry there aren't any notices to show you at the moment. Please try another filter above or come back soon.</h2>
            {{/unless}}
			{{#each item in items}}
            <li class="list__row dotted-area -dark -bottom -dark pad-top">
                <div class="list-item">
                    <p class="list-item__summary">
                        <div class="v-align--middle" {{action "gotoRoute" 'statnotices.view' item}}>
                            {{item.proposal}} at {{item.fullAddressSingleLine}}.
                        </div>
                    </p>
                    <div class="btn-list -borderless">
                        <div class="btn -white -inactive">
                            {{!-- <span class="v-align--middle pad-left pad-right"> --}}
                                <span class="beta">Publication date:</span>
                                <time class="beta"> {{format-date "DD/MM/YYYY" item.publicationDate}}</time>
                            {{!-- </span> --}}
                        </div>
                        <div class="btn -dark -inactive {{statnotice-type-icon item.type}}">
                            {{!-- <span class="v-align--middle text--center"> --}}
                                {{item.type}}
                            {{!-- </span> --}}
                        </div>
                        <div {{action 'gotoRoute' 'statnotices.view' item}} class="btn -blue text--center">
                            {{!-- <span class="v-align--middle"> --}}
                                View Notice
                            {{!-- </span> --}}
                        </div>
                    </div>
                </div>
            </li>
			{{/each}}
        </ul>
    </section>
    
    {{#ui/modal-popup visible=notifyMeVisible classes="stat-notices__notify-me-popup"}}
        <h2 class="alpha">Notify me</h2>
        <div class="dotted-area -dark -top -bottom pad-double pad-top pad-bottom">
            <p>If you enter your email address and click submit you will be emailed each time new notices are added that match the search type{{#if filterPlace}} and place{{/if}} below.</p> 
        	{{#if filterPlace}}<p>To prevent unwanted notifications, we will only send them to you if they're within 3 miles of your chosen place.</p>{{/if}}
            <p>We appreciate your interest in this new service developed by Leeds City Council and Hebe Works, and developed with support from DCLG.</p>
        </div>
        <div class="dotted-area -dark -bottom pad-double pad-top pad-bottom">
            <span class="label">Notice Type:</span> 
            <button class="btn -selected -inactive {{statnotice-type-icon filterType}}">{{filterType}}</button>
        </div>
        {{#if filterPlace}}
            <div class="dotted-area -dark -bottom pad-double pad-top pad-bottom">
               <span class="label">Location:</span>
               <button class="btn -selected -inactive">{{filterPlace.NAME1}}</button>
            </div>
        {{/if}}
        <div class="dotted-area -dark -bottom pad-double pad-top pad-bottom">
            <span class="label">Please enter your email address:</span>
            {{input value=userEmail placeHolder="Your email" }}
        </div>
        
        <div class="btn-list -borderless pad-double pad-top pad-bottom">
            {{#if userEmail}}
                <button class="btn -full -red -full" {{action "notifyMeSubmit"}}>Register</button>
            {{/if}}
        </div>
    {{/ui/modal-popup}}
</div>
