<div class="stat-notices__inner">
    <div cpn-divide="bottom" cpn-clearfix cpn-position="relative" spc-sn-options cpn-margin="bottom-double">
        <ul cpn-row-list spc-sn-options_list>
            <li spc-sn-options_toggle>
                <button cpn-button="chosen" data-btn-type="All" {{action "filterByType" "All"}}>All</button>
            </li>
            <li spc-sn-options_toggle>
                <button cpn-button data-btn-type="Planning" {{action "filterByType" "Planning"}}>Planning</button>
            </li>
            <li spc-sn-options_toggle>
                <button cpn-button data-btn-type="Licensing" {{action "filterByType" "Licensing"}}>Licensing</button>
            </li>
            
            {{#if filterPlace}}
            <li spc-sn-place-search="with-location">
                {{
                    select-2
                    
                    content=places
                    optionLabelPath="NAME1"
                    value=filterPlace
                    
                    placeholder="Search for a place"
                    typeaheadSearchingText="Searching places"
                    typeaheadNoMatchesText="No places found for '%@'"
                    typeaheadErrorText="Loading failed: %@"
                    minimumInputLength=3
                    query="findPlaces"
                }}
            </li>
            {{else}}
            <li spc-sn-place-search="">
                {{
                    select-2
                    
                    content=places
                    optionLabelPath="NAME1"
                    value=filterPlace
                    
                    placeholder="Search for a place"
                    typeaheadSearchingText="Searching places"
                    typeaheadNoMatchesText="No places found for '%@'"
                    typeaheadErrorText="Loading failed: %@"
                    minimumInputLength=3
                    query="findPlaces"
                }}
            </li>
            {{/if}}
            {{#if filterPlace}}
                <li spc-sn-location_wrapper>
                    <button cpn-button="ghost" spc-sn-location data-btn-type="location" {{action "clearPlace"}}>
                        <span class="svg-circled-cross"></span> {{filterPlace.NAME1}}
                    </button>
                </li>
            {{/if}}
            <li spc-sn-notify>
                <button cpn-button="action" {{action "notifyMe"}}>Notify Me</button>
            </li>
        </ul>
    </div>

	{{yield}}

    <section>
        <ul cpn-padding="all-none" cpn-margin="none">
            {{#unless items}}
                <h2 cpn-padding="top">Sorry there aren't any notices to show you at the moment. Please try another filter above or come back soon.</h2>
            {{/unless}}
			{{#each item in items}}
            
            <li cpn-display="block" cpn-divide="bottom" cpn-margin="bottom-double">
                <div cpn-row-list>
                    <div spc-sn-notice-part>
                        <p cpn-margin="bottom-half" {{action "gotoRoute" 'statnotices.view' item}}>
                            {{item.proposal}} at {{item.fullAddressSingleLine}}.
                        </p>
                    </div>
                    <div spc-sn-notice-part>
                        <div cpn-row-list cpn-overflow="hidden">
                            <div>
                                <div cpn-button="ghost">
                                    <span>Publication date:</span>
                                    <time> {{format-date "DD/MM/YYYY" item.publicationDate}}</time>
                                </div>
                            </div>
                            <div>
                                <div cpn-button="ghost">
                                    <span data-grunticon-embed class="{{statnotice-type-icon item.type '-black'}}"></span>
                                    {{item.type}}
                                </div>
                            </div>
                            <div>
                                <button {{action 'gotoRoute' 'statnotices.view' item}} cpn-button="move">View Notice</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
			{{/each}}
        </ul>
    </section>
    
    {{#ui/modal-popup visible=notifyMeVisible classes="stat-notices__notify-me-popup"}}
        <div cpn-divide="bottom">
            <h2 cpn-margin="bottom" class="alpha">Notify me</h2>
        </div>
        <div cpn-divide="bottom">
            <p cpn-margin="bottom">If you enter your email address and click submit you will be emailed each time new notices are added that match the search type{{#if filterPlace}} and place{{/if}} below.</p> 
        	{{#if filterPlace}}<p cpn-margin="bottom">To prevent unwanted notifications, we will only send them to you if they're within 3 miles of your chosen place.</p>{{/if}}
            <p cpn-margin="bottom">We appreciate your interest in this new service developed by Leeds City Council and Hebe Works, and developed with support from DCLG.</p>
        </div>
        <div cpn-divide="bottom">
            <p cpn-margin="bottom">
                <span cpn-margin="right">Notice Type:</span> 
                <button cpn-button="chosen" cpn-width="auto">{{filterType}}</button>
            </p>
        </div>
        {{#if filterPlace}}
            <div cpn-divide="bottom">
                <p cpn-margin="bottom">
                    <span cpn-margin="right">Location:</span>
                    <button cpn-button="chosen" cpn-width="auto">{{filterPlace.NAME1}}</button>
                </p>
            </div>
        {{/if}}
        <div cpn-divide="bottom">
            <p cpn-margin="bottom">
                <span>Please enter your email address:</span>
                {{input value=userEmail placeHolder="Your email" }}
            </p>
        </div>
        
        {{#if userEmail}}
            <button cpn-button="action" {{action "notifyMeSubmit"}}>Register</button>
        {{/if}}
    {{/ui/modal-popup}}
</div>
