<section cpn-bid-edit-section>
    <h3 cpn-bid-edit-section_header="{{sectionOpenState}}" {{action "toggleSection"}}>{{title}}</h3>
    <main cpn-bid-edit-section_body="{{sectionOpenState}}">
        
        {{#if multipleOccupants}}
            {{
                select-2
                content=occupants
                value=chosenOccupant
                placeholder="Occupant"
                optionLabelPath="property"
            }}
        {{/if}}
        
        {{#if chosenOccupant}}
            {{#if chosenOccupant.occupantID}}
            <p>{{chosenOccupant.occupantID}}</p>
            {{/if}}
            
            {{#if chosenOccupant.archived}}
            <p>{{chosenOccupant.archived}}</p>
            {{/if}}
            
            {{#if chosenOccupant.organisation}}
            <p>{{chosenOccupant.organisation}}</p>
            {{/if}}
            
            {{#if chosenOccupant.property}}
            <p>{{chosenOccupant.property}}</p>
            {{/if}}
            
            {{#if chosenOccupant.joiningDate}}
            <p>{{chosenOccupant.joiningDate}}</p>
            {{/if}}
            
            {{#if chosenOccupant.tags}}
            <p>{{chosenOccupant.tags}}</p>
            {{/if}}
            
            {{#if chosenOccupant.sector}}
            <p>{{chosenOccupant.sector}}</p>
            {{/if}}
            
            {{#if chosenOccupant.businessType}}
            <p>{{chosenOccupant.businessType}}</p>
            {{/if}}
            
            {{#if chosenOccupant.voter}}
            <p>{{chosenOccupant.voter}}</p>
            {{/if}}
            
            {{#if chosenOccupant.billPayer}}
            <p>{{chosenOccupant.billPayer}}</p>
            {{/if}}
            
            {{#if chosenOccupant.accountsDept}}
            <p>{{chosenOccupant.accountsDept}}</p>
            {{/if}}
            
            {{#if chosenOccupant.localContact}}
            <p>{{chosenOccupant.localContact}}</p>
            {{/if}}
            
            {{#if chosenOccupant.companyMember}}
            <p>{{chosenOccupant.companyMember}}</p>
            {{/if}}
        {{/if}}
    </main>
</section>

{{#if model.allPeople}}
    {{component "bid/person-edit" model=model.allPeople title="People" nested=true}}
{{/if}}