<section cpn-bid-edit-section>
    <h3 cpn-bid-edit-section_header="{{sectionOpenState}}" {{action "toggleSection"}}>{{title}}<span data-grunticon-embed class="icon-chevron-down svg-chevron-down">Open Section</span></h3>
    <main cpn-bid-edit-section_body="{{sectionOpenState}}" cpn-padding="top-double right-double bottom left-double">
        
        {{#if multipleOccupants}}
            {{
                select-2
                content=occupants
                value=chosenOccupant
                placeholder="Occupant"
                optionLabelPath="property.description"
            }}
        {{/if}}
        
        {{#if chosenOccupant}}
            <p>
                <label for="occupant_occupant-id">Occupant ID</label>
                {{input value=chosenOccupant.occupantID disabled=true id="occupant_occupant-id"}}
            </p>
            
            <label>Archived</label>
            <ul cpn-row-list="middle">
                <li>
                    {{radio-button value=true checked=chosenOccupant.archived name="archived" id="occupant_archived-true"}}
                    <label for="occupant_archived-true">True</label>
                </li>
                <li>
                    {{radio-button value=false checked=chosenOccupant.archived name="archived" id="occupant_archived-false"}}
                    <label for="occupant_archived-false">False</label>
                </li>
            </ul>
            
            <p>
                <label for="occupant_organisation">Organisation</label>
                {{input value=chosenOccupant.organisation autocapitalize="words" id="occupant_organisation"}}
            </p>
            
            <p>
                <label for="occupant_property">Property</label>
                {{input value=chosenOccupant.property.description disabled=true id="occupant_property"}}
            </p>
            
            <p>
                <label for="occupant_joiningDate">Joining Date</label>
                {{pikaday-input value=chosenOccupant.joiningDate format="DD/MM/YYYY" id="occupant_joiningDate"}}
            </p>
            
            <p>
                <label for="occupant_tags">Tags</label>
                {{input value=chosenOccupant.tags autocapitalize="words" id="occupant_tags"}}
            </p>
            
            <label>Sector</label>
            {{
                select-2
                content=allSectors
                value=chosenOccupant.sector
                placeholder="Sector"
                optionLabelPath="sectorName"
            }}
            
            <p>
                <label for="occupant_businessType">Business Type</label>
                {{input value=chosenOccupant.businessType autocapitalize="words" id="occupant_businessType"}}
            </p>
            
            <label>Voter</label>
            {{
                select-2
                content=allPeople
                value=chosenOccupant.voter
                placeholder="Voter"
                optionLabelPath="name"
            }}
            
            <label>Bill Payer</label>
            {{
                select-2
                content=allPeople
                value=chosenOccupant.billPayer
                placeholder="Bill Payer"
                optionLabelPath="name"
            }}
            
            <label>Accounts Department</label>
            {{
                select-2
                content=allPeople
                value=chosenOccupant.accountsDept
                placeholder="Accounts Department"
                optionLabelPath="name"
            }}
            
            <label>Local Contact</label>
            {{
                select-2
                content=allPeople
                value=chosenOccupant.localContact
                placeholder="Local Contact"
                optionLabelPath="name"
            }}
            
            <label>Company Member</label>
            {{
                select-2
                content=allPeople
                value=chosenOccupant.companyMember
                placeholder="Company Member"
                optionLabelPath="name"
            }}
            
            <label>Empty</label>
            <ul cpn-row-list="middle">
                <li>
                    {{radio-button value=true checked=chosenOccupant.empty name="empty" id="occupant_empty-true"}}
                    <label for="occupant_empty-true">True</label>
                </li>
                <li>
                    {{radio-button value=false checked=chosenOccupant.empty name="empty" id="occupant_empty-false"}}
                    <label for="occupant_empty-false">False</label>
                </li>
            </ul>
            
            <label>Address</label>
            <p>
                {{{chosenOccupant.address}}}
            </p>
            
            <div cpn-divide="top solid faded-dark" cpn-padding="top-double" cpn-margin="top">
                <ul cpn-row-list>
                    <li>
                        <button cpn-button="action" {{action "cancel"}}>Cancel</button>
                    </li>
                    <li>
                        <button cpn-button="action" {{action "save"}}>Save Occupant</button>
                    </li>
                </ul>
            </div>
        {{/if}}
    </main>
</section>

{{#if allPeople}}
    {{component "bid/person-edit" model=allPeople allOccupants=allOccupants title="People" nested=true}}
{{/if}}