<section cpn-bid-edit-section>
<h3 cpn-bid-edit-section_header="{{sectionOpenState}}" {{action "toggleSection"}}>Organisation Details<span data-grunticon-embed class="icon-chevron-down svg-chevron-down">Open Section</span></h3>
    <main cpn-bid-edit-section_body="{{sectionOpenState}}" cpn-padding="top-double right-double bottom left-double">
        <p>
            <label for="organisation_tradingName">Trading Name</label>
            {{input value=model.tradingName autocapitalize="words" id="organisation_tradingName"}}
        </p>
        
        <p>
            <label for="organisation_legalName">Legal Name</label>
            {{input value=model.legalName autocapitalize="words" id="organisation_legalName"}}
        </p>
        
        <p>
            <label for="organisation_businessName">Business Name</label>
            {{input value=model.businessName autocapitalize="words" id="organisation_businessName"}}
        </p>
        
        <p>
            <label for="organisation_liableParty">Liable Party</label>
            {{input value=model.liableParty autocapitalize="words" id="organisation_liableParty"}}
        </p>
        
        <p>
            <label for="organisation_website">Website</label>
            {{input value=model.website id="organisation_website"}}
        </p>
        
        <label>Sector</label>
        {{
            select-2
            content=sectors
            value=model.sector
            placeholder="Sector"
            optionLabelPath="sectorName"
        }}
        
        <div cpn-divide="top solid faded-dark" cpn-padding="top-double" cpn-margin="top">
            <ul cpn-row-list>
                <li>
                    <button cpn-button="action" {{action "cancel"}}>Cancel</button>
                </li>
                <li>
                    <button cpn-button="action" {{action "save"}}>Save Organisation</button>
                </li>
            </ul>
        </div>
    </main>
</section>
    
{{#if model.occupants}}
    {{component "bid/occupant-edit" model=model.occupants title="Occupants"}}
{{/if}}

{{#if model.allPeople}}
    {{component "bid/person-edit" model=model.allPeople title="People" nested=true}}
{{/if}}