<section cpn-bid-edit-section>
<h3 cpn-bid-edit-section_header="{{sectionOpenState}}" {{action "toggleSection"}}>Organisation Details<span data-grunticon-embed class="icon-chevron-down svg-chevron-down">Open Section</span></h3>
    <main cpn-bid-edit-section_body="{{sectionOpenState}}" cpn-padding="top-double right-double bottom left-double">
        {{#if model.tradingName}}
        <p>
            {{input value=model.tradingName autocapitalize="words"}}
        </p>
        {{/if}}
        
        {{#if model.legalName}}
        <p>
            {{input value=model.legalName autocapitalize="words"}}
        </p>
        {{/if}}
        
        {{#if model.businessName}}
        <p>
            {{input value=model.businessName autocapitalize="words"}}
        </p>
        {{/if}}
        
        {{#if model.liableParty}}
        <p>
            {{input value=model.liableParty autocapitalize="words"}}
        </p>
        {{/if}}
        
        {{#if model.website}}
        <p>
            {{input value=model.website}}
        </p>
        {{/if}}
        
        {{#if model.sectors}}
        <ul>
            {{#each model.sectors as |sector|}}
            <li>{{sector}}</li>
            {{/each}}
        </ul>
        {{/if}}
        
        <div cpn-divide="top solid faded-dark" cpn-padding="top-double" cpn-margin="top">
            <ul cpn-row-list>
                <li>
                    <button cpn-button="action" {{action "cancel"}}>Cancel</button>
                </li>
                <li>
                    <button cpn-button="action" {{action "save"}}>Save Organisation</button>
                </li>
            </ul>
        </div>
    </main>
</section>
    
{{#if model.occupants}}
    {{component "bid/occupant-edit" model=model.occupants title="Occupants"}}
{{/if}}

{{#if model.allPeople}}
    {{component "bid/person-edit" model=model.allPeople title="People" nested=true}}
{{/if}}