{{#stories/story-base}}
    
    {{#stories/story-slider loaded=loaded}}
        {{#stories/story-slide}}
            {{#each tweet in tweets}}
                <div spc-tweet>
                    <h2 spc-tweet_user>
                        <a href="{{tweet.user_url}}" target="_blank">
                            <span spc-tweet_name>{{tweet.user_name}}</span>
                            <span spc-tweet_handle>@{{tweet.user_name}}</span>
                        </a>
                    </h2>
                    <p spc-tweet_body>{{tweet.text}}</p>
                    <time spc-tweet_time>{{tweet.friendly_date}}</time>
                </div>
            {{/each}}
        {{/stories/story-slide}}
        {{#stories/story-slide}}
            <div spc-tweeter_cover>
                <div spc-tweeter_avatar class="svg-ldm-logo-white" data-grunticon-embed></div>
                <img src="assets/img/twitter-backdrop.jpg" width="290" height="101" />
                <a href="https://twitter.com/leedsdatamill" target="_blank" spc-tweeter_follow>Follow @LeedsDataMill</a>
            </div>
            <div spc-tweeter_details>
                <h2 spc-tweeter_name>Leeds Data Mill</h2>
                <h3 spc-tweeter_username>@LeedsDataMill</h3>
                <p spc-tweeter_description>We are the Open Data Platform for Leeds. Follow us for updates on events, research and stories about the city.</p>
            </div>
        {{/stories/story-slide}}
      {{/stories/story-slider}}

{{/stories/story-base}}
