
{{#stories/story-base 
    title=title 
    subTitle=subTitle 
    color="-white" 
    width="-w2" 
    height="-h2"
    
    dataSourceUrl="http://twitter.com/leedsdatamill"
    feedbackEmail="mark@hebeworks.com"
    description="This is the main Twitter feed from Leeds Data Mill"
    license=""
    author="Mark Barrett"
    }}
    
    {{#stories/story-slider loaded=loaded}}
        {{#stories/story-slide}}
            <div class="tweets">
                {{#each tweet in tweets}}
                    <div class="dotted-area pad-top pad-bottom -top tweet">
                        <h2 class="beta"><a href="{{tweet.user_url}}" target="_blank">{{tweet.user_name}}</a> <a href="https://twitter.com/leedsdatamill" target="_blank"><span class="tweet__handle">@{{tweet.user_name}}</span></a></h2>
                        <p class="story__para">{{tweet.text}} {{!--<a href="{{tweet.user_url}}" target="_blank">{{tweet.user_url}}</a>--}}</p>
                        <time class="tweet__time">{{tweet.friendly_date}}</time>
                    </div>
                {{/each}}
            </div>
        {{/stories/story-slide}}
        {{#stories/story-slide}}
            <div class="twitter-cover-photo">
                <div class="twitter-cover-photo__logo">
                    <img src="http://avatars.io/twitter/leedsdatamill" width="50" height="50" />
                </div>
                <img src="https://pbs.twimg.com/profile_banners/2221607978/1421754274/1500x500" width="290" height="102" />
                <a href="https://twitter.com/leedsdatamill" target="_blank" class="twitter-follow">Follow @LeedsDataMill</a>
            </div>
            <div class="twitter-profile-details">
                <h2 class="-beta">Leeds Data Mill</h2>
                <h3 class="beta">@LeedsDataMill</h3>
                <p class="story__para">We are the Open Data Platform for Leeds. Follow us for updates on events, research and stories about the city.</p>
            </div>
        {{/stories/story-slide}}
      {{/stories/story-slider}}

{{/stories/story-base}}
