
{{#stories/story-base 
    title=title 
    subTitle=subTitle 
    color="white" 
    width=width 
    height="2"
    slider=true
    
    dataSourceUrl="http://twitter.com/leedsdatamill"
    feedbackEmail="mark@hebeworks.com"
    description="This is the main Twitter feed from Leeds Data Mill"
    license=""
    author="Mark Barrett"
    }}
    
    {{#stories/story-slider loaded=loaded}}
        {{#stories/story-slide}}
            {{#each tweet in tweets}}
                <div spc-tweet>
                    <h2 spc-tweet_user>
                        <a href="{{tweet.user_url}}" target="_blank">
                            <span spc-tweet_name>{{tweet.user_name}}</span>
                            <span spc-tweet_handle>@{{tweet.user_name}}</span>
                        </a>
                    </h2>
                    <p spc-tweet_body>{{tweet.text}}</p>
                    <time spc-tweet_time>{{tweet.friendly_date}}</time>
                </div>
            {{/each}}
        {{/stories/story-slide}}
        {{#stories/story-slide width=width}}
            <div class="twitter-cover-photo">
                <div class="twitter-cover-photo__logo">
                    <img src="http://avatars.io/twitter/leedsdatamill" width="50" height="50" />
                </div>
                <img src="https://pbs.twimg.com/profile_banners/2221607978/1421754274/1500x500" width="290" height="102" />
                <a href="https://twitter.com/leedsdatamill" target="_blank" class="twitter-follow">Follow @LeedsDataMill</a>
            </div>
            <div class="twitter-profile-details">
                <h2 class="-beta">Leeds Data Mill</h2>
                <h3 class="beta">@LeedsDataMill</h3>
                <p class="story__para">We are the Open Data Platform for Leeds. Follow us for updates on events, research and stories about the city.</p>
            </div>
        {{/stories/story-slide}}
      {{/stories/story-slider}}

{{/stories/story-base}}
