
{{#stories/story-base title="Find My Bin Day" subTitle="Find your next Leeds bin day" color="-white" width="-w2" height="-h2" data-ss-colspan="2"}}
    <main spc-fmbd-body cpn-story-body="scrollV height2">
        {{#unless currentAddress}}
            <div spc-fmbd-logo>
                <div spc-fmbd-logo_inner>
                    <h2 spc-fmbd-logo_title>Find my bin day</h2>
                    {{!-- <p spc-fmbd-logo_desc>Looking for a grit bin?</p> --}}
                </div>
            </div>
        
            {{
                select-2
                
                content=addresses
                optionLabelPath="address"
                value=selectedAddress
                
                placeholder="Search for a place"
                typeaheadSearchingText="Searching places"
                typeaheadNoMatchesText="No places found for '%@'"
                typeaheadErrorText="Loading failed: %@"
                minimumInputLength=3
                query="findPlaces"
            }}
            
            <img cpn-margin="middle-h" src="assets/img/league-of-streets-logo.png" alt="League of Streets logo" width="95" height="40">
        {{else}}
        
            <div spc-fmbd-address>
                <h3 spc-fmbd-address_location>{{currentAddress.address}}</h3>
                <a spc-fmbd-address_change {{action 'changeAddress'}}>Change Address</a>
            </div>
            
            <ul spc-fmbd-results>
                {{#each orderedDates as |date index|}}
                    {{stories/complete/find-my-bin-day/bin-date date=date}}
                {{/each}}
            </ul>
        {{/unless}}
    </main>
{{/stories/story-base}}
