
{{#stories/story-base title="Find My Bin Day" subTitle="Find your next Leeds bin day" color="-white" width="-w2" height="-h2" data-ss-colspan="2"}}
    <main class="find-my-bin-day">
        {{#unless currentAddress}}
            <div spc-fmbd-logo>
                <div spc-fmbd-logo_inner>
                    <h2 spc-fmbd-logo_title>Find my bin day</h2>
                    {{!-- <h3 spc-fmbd-logo_desc>Looking for a grit bin?</h3> --}}
                </div>
            </div>
        
            {{
                select-2
                
                content=addresses
                optionLabelPath="address"
                value=selectedAddress
                
                placeholder="Search for a place"
                typeaheadSearchingText="Searching places"
                typeaheadNoMatchesText="No places found for '%@'"
                typeaheadErrorText="Loading failed: %@"
                minimumInputLength=3
                query="findPlaces"
            }}
            
            <img cpn-margin="middle-h" src="assets/img/league-of-streets-logo.png" alt="League of Streets logo" width="95" height="40">
        {{else}}

            <div class="find-my-bin-day__results">
                <div class="find-my-bin-day__address">
                    {{currentAddress.address}}
                    <p {{action 'changeAddress'}}>Change Address</p>
                </div>            
                <ul>
                    {{#each orderedDates as |date|}}
                        <li>
                            <p>{{date.type}} - {{format-date "DD/MM/YYYY" date.date}}</p>
                        </li>
                    {{/each}}
                </ul>
            </div>
        {{/unless}}
    </main>
{{/stories/story-base}}
