<div class="cf dotted-area -bottom pad-top margin-bottom">
	<div cpn-table class="margin-bottom">
		<div cpn-table_cell="middle">
			{{!-- To update the weather icon, replace 'heavy-rain-grey' in the below class with the weather type --}}
			<div class="forecast-graphic svg-icon-weather-{{period.weatherIcon}}" data-grunticon-embed></div>
		</div>
		<div cpn-table_cell="middle">
			<p class="margin-bottom-no aligned-grid -middle">
				<span class="main-weather-item aligned-grid -middle double-margin-right">
					<span class="margin-right">High:</span> <span class="temperature">{{period.maxTemp}}˚</span>
				</span>
				<span class="main-weather-item aligned-grid -middle">
					<span class="margin-right">Low: </span> <span class="temperature">{{period.minTemp}}˚</span>
				</span>
			</p>
			<p class="margin-bottom-no main-weather-item">{{period.weather}}</p>
		</div>
	</div>
</div>
<div class="cf">
	<p cpn-data-strip="triple">
		<span cpn-data-strip_item>
			<span cpn-data-strip_label>Chance of rain:</span>
			<span cpn-data-strip_value>{{period.rainProb}}%</span>
		</span>
		<span cpn-data-strip_slice></span>
		<span cpn-data-strip_item>
			<span cpn-data-strip_label>UV Index:</span>
			<span cpn-data-strip_value>{{period.uv}}<!-- - Moderate--></span>
		</span>
		<span cpn-data-strip_slice></span>
		<span cpn-data-strip_item>
			<span cpn-data-strip_label>Humidity:</span>
			<span cpn-data-strip_value>{{period.humidity}}%</span>
		</span>
	</p>
	<p cpn-data-strip>
		<span cpn-data-strip_item>
			{{!-- The wind direction needs updating inside both the span and the spc-compass-direction attribute --}}
			<span cpn-data-strip_label="inline">Wind Direction:</span> <span cpn-data-strip_value="inline"><span class="svg-compass-arrow" data-grunticon-embed spc-compass-direction="{{period.windDirection}}"></span> {{period.windDirection}}</span>
		</span>
		<span cpn-data-strip_slice></span>
		<span cpn-data-strip_item>
			<span cpn-data-strip_label="inline">Wind Speed:</span> <span cpn-data-strip_value="inline">{{period.windSpeed}} mph</span>
		</span>
	</p>
</div>
{{yield}}
