{{#stories/story-base}}

    <div cpn-table="fixed">
        <div cpn-table_cell="middle" cpn-text="center">
            <div spc-forecast-graphic>
                <div spc-forecast-graphic_inner class="svg-icon-weather-{{day.weatherIcon}}" data-grunticon-embed></div>
            </div>
        </div>
        <div cpn-table_cell="middle">
            <ul cpn-toggle="dark">
                <li cpn-toggle_option="{{if showDay "chosen"}}" {{action "togglePeriod" 'day'}}>Today</li>
                <li cpn-toggle_option="{{unless showDay "chosen"}}" {{action "togglePeriod" 'night'}}>Tonight</li>
            </ul>
            
            {{#if showDay}}
                {{stories/complete/weather-forecast/weather-period period=day.day}}
            {{else}}
                {{stories/complete/weather-forecast/weather-period period=day.night}}
            {{/if}}
        </div>
    </div>
    
{{/stories/story-base}}
