{{#stories/story-base 
    title=title 
    subTitle=subTitle 
    color="-white" 
    width="-w2" 
    height="-h2" 
    data-ss-colspan="2"
    
    dataSourceUrl="http://data.gov.uk/dataset/land-registry-monthly-price-paid-data"
    feedbackEmail="nathan@hebeworks.com"
    description="Trends in average house prices in Leeds using Price Paid data from Land Registry."
    license="<a href='http://data.gov.uk/dataset/land-registry-monthly-price-paid-data' target='_blank'>Land Registry monthly price paid data</a>, © Land Registry, 2015. This information is licensed under the terms of the Open Government Licence"

    author="Nathan Smith"
    }}
    
    {{#stories/story-slider loaded=loaded}}

            {{#stories/story-slide}}
                {{stories/complete/house-prices/house-price-item chartData=chartData.detached houseType="Detached" total=currentMonth.averageDetached change=changeDetached icon="detached"}}
            {{/stories/story-slide}}

            {{#stories/story-slide}}
                {{stories/complete/house-prices/house-price-item chartData=chartData.flat houseType="Flat" total=currentMonth.averageFlat change=changeFlat icon="flat"}}
            {{/stories/story-slide}}

            {{#stories/story-slide}}
                {{stories/complete/house-prices/house-price-item chartData=chartData.semi houseType="Semi" total=currentMonth.averageSemi change=changeSemi icon="semi"}}
            {{/stories/story-slide}}

            {{#stories/story-slide}}
                {{stories/complete/house-prices/house-price-item chartData=chartData.terraced houseType="Terraced" total=currentMonth.averageTerraced change=changeTerraced icon="terrace"}}
            {{/stories/story-slide}}

    {{/stories/story-slider}}
	
	{{yield}}
{{/stories/story-base}}

