<h1 class="js-canvas-heading canvas-heading">
    {{#if currentCanvas}}
        {{currentCanvas.title}}
    {{/if}}
</h1>

<div class="js-canvas canvas">
    <a href="javascript:;" class="js-canvas-overlay canvas__overlay"></a>
    <div class="js-stories canvas__inner">
    
        {{!-- PLACE YOUR DEVELOPMENT STORIES HERE --}}
            {{!-- stories/complete/council-spending --}}
            {{stories/complete/base-value-tile}}
            {{stories/complete/base-rag-tile}}
        {{!-- END DEVELOPMENT STORIES --}}

        {{#if currentCanvas}}
            {{#each currentCanvas.stories as |story|}}
                {{#if story.componentPath}}
                    {{ component story.componentPath storyModel=story}}
                {{/if}}
            {{/each}}
        {{else}}
            <p>Sorry we couldn't load this canvas. Please try another from the Gallery.</p>
        {{/if}}
         
        {{#ui/generic-element action="showAddAStory" tagName="div" classes=""}}
            <div id="AddStory" class="ember-view js-story story -w1 -h1 story--add">
                <div class="js-add-story story__inner">
                    <span spc-add-story class="icon-add-story-graphic svg-add-story-graphic" data-grunticon-embed></span>
                    Add a new story
                </div>
            </div>
        {{/ui/generic-element}}

        </div>
    </div>
