<h1 class="js-canvas-heading canvas-heading">
    {{#if currentCanvas}}
        {{currentCanvas.title}}
    {{/if}}
</h1>

<div class="js-canvas canvas">
    <a href="javascript:;" class="js-canvas-overlay canvas__overlay"></a>
    <div class="js-stories canvas__inner">
    
    
        {{!-- PLACE YOUR DEVELOPMENT STORIES HERE --}}
            {{!--
            {{stories/complete/plotly-playground}}
            {{stories/complete/lcc-free-wifi}}
            {{stories/complete/market-occupancy}}
            {{stories/complete/base-rag-title}}
            {{stories/complete/leeds-air-quality-trends}}
            {{stories/complete/footfall-centre}}
            {{stories/complete/council-spending-year-line}}
            {{stories/complete/council-spending-directorate}}
            {{stories/complete/google-charts}}
            {{stories/complete/google-charts-column}}
            {{stories/complete/google-charts-donut}}
            {{stories/complete/google-charts-line}}
            {{stories/complete/google-charts-stacked-column}}
            {{stories/complete/info-centre-visitor-numbers}}
            {{stories/complete/leeds-air-quality-trends}}
            {{stories/complete/market-occupancy}}
            {{stories/complete/generic-twitter-feed}}
            --}}
        {{!-- END DEVELOPMENT STORIES --}}
        
        {{!-- YORKSHIRE WATER HACK STORIES 
            {{stories/complete/ywh/heat-map}}
            {{stories/complete/ywh/area-info}}
            {{stories/complete/ywh/top-dmas-by-volume}}
            {{stories/complete/ywh/total-call-stats}}
            {{stories/complete/ywh/contact-media-types}}
            {{stories/complete/ywh/day-of-contact-bar}}
            {{stories/complete/ywh/multi-chart}}
            {{stories/complete/ywh/call-time-trends}}
            {{stories/complete/ywh/topics-closed-duration-stacked-bar}}
            {{stories/complete/ywh/topic-time-pie}}
            {{stories/complete/ywh/contacts-by-property}}
            {{stories/complete/ywh/video-player}}
            {{stories/complete/ywh/image-gallery}}
            {{stories/complete/ywh/small-image-gallery}}
            {{stories/complete/ywh/yw-rss-feed}}
        --}}
        {{!-- UNUSED YORKSHIRE WATER HACK STORIES 
            {{stories/complete/ywh/total-monthly-calls-year-rag}}
            {{stories/complete/ywh/current-zone-total-rag}}
        --}}
        {{!-- ROAD TRAFFIC ACCIDENT STORIES
        {{stories/complete/rta-intro-story}}
        {{stories/complete/rta-video-story}}
        {{stories/complete/rta-casualty-age}}
        {{stories/complete/rta-vehicle-accidents}}
        {{stories/complete/rta-accident-locations}}
        {{stories/complete/rta-monthly-accidents}}
        {{stories/complete/rta-daily-accidents}}
        {{stories/complete/rta-pedestrians-vehicles}}
        {{stories/complete/beta-rag}}
        
        {{stories/complete/nhs-rtt/canvas-filter}}
        {{stories/complete/nhs-rtt/ccg-map}}
        {{stories/complete/nhs-rtt/canvas-filter}}
        {{stories/complete/nhs-rtt/overall-perf-chart}}
        {{stories/complete/nhs-rtt/region-map}}
        {{stories/complete/nhs-rtt/text-with-bar}}
        {{stories/complete/nhs-rtt/rtt-plotly-waiting-list}}
        {{stories/complete/nhs-rtt/treatment-rag-tile}}
        {{stories/complete/nhs-rtt/rtt-plotly-mnth-perf}}
        {{stories/complete/nhs-rtt/rtt-data-table}}
        --}}
        {{!-- 
        {{stories/complete/nhs-rtt/overall-perf-rag-tile}}
        --}}
        {{stories/complete/bid/organisation-small}}
        {{stories/complete/bid/levy-tile}}
        {{stories/complete/bid/occupancy-tile}}
        {{#if currentCanvas}}
            {{#each currentCanvas.stories as |story|}}
                {{#if story.componentPath}}
                    {{component story.componentPath storyModel=story}}
                {{/if}}
            {{/each}}
        {{/if}}
 
        {{#ui/generic-element action="showAddAStory" tagName="div" classes=""}}
            <div id="AddStory" class="ember-view js-story story -w1 -h1 story--add">
                <div class="js-add-story story__inner">
                    <span spc-add-story class="icon-add-story-graphic svg-add-story-graphic" data-grunticon-embed></span>
                    Add a new story
                </div>
            </div>
        {{/ui/generic-element}}
      

        </div>
    </div>
