<a href="javascript:;" class="js-nav-icon {{jshook}} {{align}}">
	<span {{bind-attr class=":icon iconclass svgclass"}} data-grunticon-embed></span>
    <span class="nav-main__title">{{title}}</span>
</a>
{{yield}}
