<div cpn-padding="right-double bottom-double left-double">

	<p>{{message}}</p>

	{{yield}}

	<div cpn-divide="bottom solid faded-dark" cpn-padding="bottom" cpn-margin="bottom-double" class="create-a-story -form -admin">
		<h2>{{title}}</h2>

		{{#each editableFields as |field|}}
            {{stories/edit-a-story/editable-field field=field}}
		{{/each}}

		{{#each errors.messages as |message|}}
			<p class="error">
				{{message}}
			</p>
		{{/each}}

	</div>
	
	<ul cpn-row-list>

		<li>
			<button cpn-button="action" {{action "cancel"}}>Cancel</button>
		</li>

		<li>
			<button cpn-button="action" {{action "save"}}>Save Story</button>
		</li>

	</ul>

</div>
