<div cpn-divide="bottom" cpn-cleafix>
	<a {{action "closeBottomDrawer"}} cpn-frame_close cpn-float="right" class="svg-close-drawer"></a>
	<h2 cpn-frame_heading>Edit a story</h2>
</div>

<div class="drawer__inner">
	<p>{{message}}</p>
	{{yield}}
	
	{{!-- canvas-gallery/create-a-canvas --}}
	
	<div cpn-margin="bottom-double" class="create-a-story -form -admin">
		<h2>{{title}}</h2>

		{{#each editableFields as |field|}}
			<label>{{field.placeholder}}</label>{{input type=field.type value=field.value placeholder=field.placeholder}}
		{{/each}}
		
		{{#each errors.messages as |message|}}
			<p class="error">
				{{message}}
			</p>
		{{/each}}
		
		<p cpn-display="inline-block" cpn-margin="bottom-double">
			<button cpn-button="action" {{action "save"}}>Save new story</button>
		</p>
	</div>
	
	{{!-- admin/create-a-category --}}
</div>