{{#stories/story-base 
    title="Leeds Inspired" 
    subTitle="Music & art events around Leeds." 
    color="-ivory" 
    width="-w2" 
    height="-h2" 
    data-ss-colspan="2"
    dataSourceUrl="http://api.leedsinspired.co.uk"
    feedbackEmail="nathan@hebeworks.com"
    description="This Story uses data from the Leeds Inspired API"
    license="Open Government License"
    author="Nathan Smith"
    }}
    {{#stories/story-slider loaded=loaded}}
        {{#each item in items}}
            {{#stories/story-slide}}
            <main class="leeds-inspired-event">
                <h2 class="leeds-inspired-event__heading"><a href="http://www.leedsinspired.co.uk" target="_blank">{{item.title}}</a></h2>
                                
                <div class="leeds-inspired-event__details">
                    <div class="dotted-area -top pad-top pad-bottom">
                        <time class="leeds-inspired-event__datetime">{{item.date}}</time>
                        <em class="leeds-inspired-event__address">{{item.place}}</em>
                    </div>
                </div>
                
                <div>
                    <img class="image" src="{{item.thumbnail}}" alt="{{item.title}}" />
                    <div class="leeds-inspired-event__description">
                        {{item.description}}
                    </div>
                </div>

            </main>
            {{/stories/story-slide}}
        {{/each}}
    {{/stories/story-slider}}
    {{yield}}    
{{/stories/story-base}}
