{{#stories/story-base}}
    {{#stories/story-slider loaded=loaded}}
        {{#each item in items}}
            {{#stories/story-slide}}
                <div cpn-divide="bottom">
                    <h2 spc-lds-inspd_title>
                        <a href="http://www.leedsinspired.co.uk" target="_blank">{{item.title}}</a>
                    </h2>
                </div>
                
                <time spc-lds-inspd_datetime>{{item.date}}</time>
                <em spc-lds-inspd_place>{{item.place}}</em>
                
                <div cpn-clearfix>
                    <img spc-lds-inspd_image src="{{item.thumbnail}}" alt="{{item.title}}" />
                    <p spc-lds-inspd_desc>{{item.description}}</p>
                </div>
            
            {{!-- <main class="leeds-inspired-event">
                <h2 class="leeds-inspired-event__heading"><a href="http://www.leedsinspired.co.uk" target="_blank">{{item.title}}</a></h2>
                                
                <div class="leeds-inspired-event__details">
                    <div class="dotted-area -top pad-top pad-bottom">
                        <time class="leeds-inspired-event__datetime">{{item.date}}</time>
                        <em class="leeds-inspired-event__address">{{item.place}}</em>
                    </div>
                </div>
                
                <div>
                    <img class="image" src="{{item.thumbnail}}" alt="{{item.title}}" />
                    <div class="leeds-inspired-event__description">
                        {{item.description}}
                    </div>
                </div>

            </main> --}}
            {{/stories/story-slide}}
        {{/each}}
    {{/stories/story-slider}}
    {{yield}}    
{{/stories/story-base}}
