{{#stories/story-base}}
    <ul cpn-row-list>
        <li cpn-width="25%"><button {{action "setPart" "all"}} cpn-button="{{btnAllChosen}}">All</button></li>
        <li cpn-width="25%"><button {{action "setPart" "PART_1A"}} cpn-button="{{btnAdmittedChosen}}">Admitted</button></li>
        <li cpn-width="25%"><button {{action "setPart" "PART_1B"}} cpn-button="{{btnNonChosen}}">Non-admitted</button></li>
        <li cpn-width="25%"><button {{action "setPart" "PART_2"}} cpn-button="{{btnIncompleteChosen}}">Incomplete</button></li>
    </ul>
    
    
    
    

    <div id="plotly-container" style="width: 100%; height: 160px;">
      <div id={{chartID}} style="width: 100%; height: 100%;"></div>
    </div>

{{/stories/story-base}}
