<h1 spc-dashboard-logo="compact">
    <span data-grunticon-embed class="svg-{{logoClass}}-compact">{{logoText}}</span>
</h1>

<h1 spc-dashboard-logo="expanded">
    <span data-grunticon-embed class="svg-{{logoClass}}-expanded">{{logoText}}</span>
</h1>

{{yield}}
