<div class="form -login">
	{{#if session.isAuthenticated}}
		<p class="dotted-area -bottom -black cf double-margin-bottom pad-bottom pad-double">
			You're currently logged in as: {{currentUser.content.username}}
			<button cpn-button="action" class="margin-left" {{action "logout"}}>
				Log out
			</button>
		</p>
		
	{{/if}}
	
	{{#unless hideLoginForm}}

		<div class="dotted-area -bottom -black cf double-margin-bottom pad-bottom pad-double">
			<div class="aligned-grid -middle">
				<div class="-width-third">
					<p class="margin-bottom-no">Have you registered before?</p>
				</div>
			
			<div class="-width-two-thirds pad-left">
				<div class="aligned-grid -middle">
					<button cpn-button="{{if existingUserSelected 'chosen'}}" {{action "selectLoginType" "existingUser"}}>
						Existing user
					</button>
					
					<button cpn-button="{{if newUserSelected 'chosen'}}" class="margin-left" {{action "selectLoginType" "newUser"}}>
						New user
					</button>
				</div>
			</div>
			</div>
		</div>
		
		{{#if loginTypeSelected}}
			<div class="dotted-area -bottom -black double-margin-bottom cf pad-bottom pad-double">
				<div class="aligned-grid -middle">
					<div class="-width-third">
					{{#if existingUserSelected}}
						<p class="margin-bottom-no">Enter your username:</p>
					{{else}}
						<p class="margin-bottom-no">Create your username:</p>
					{{/if}}
				</div>
				<div class="-width-two-thirds pad-left">
					{{input class="-full" value=username type="text" placeholder="e.g. Dashboard King"}}
				</div>
				</div>
			</div>
			
			{{#if message}}
				<p class="message -error double-margin-bottom">
					{{message}}
				</p>
			{{/if}}
		
			<button cpn-button="action full" {{action "submit"}}>
				{{#if existingUserSelected}}
					Log me in...
				{{else}}
					Sign me up...
				{{/if}}
			</button>
		{{/if}}
		
	{{/unless}}
	
	{{yield}}
</div>