<div class="form -login">
	{{#if session.isAuthenticated}}
		<div cpn-divide="bottom" cpn-margin="bottom-double">
			<p cpn-margin="bottom">You're currently logged in as: {{currentUser.content.username}}</p>
			<p cpn-margin="bottom-double">
				<button cpn-button="action" {{action "logout"}}>Log out</button>
			</p>
		</div>	
	{{/if}}
	
	{{#unless hideLoginForm}}
		<div cpn-divide="bottom" cpn-margin="bottom-double">
			<div cpn-row-list="middle">
				<div>
					<p cpn-margin="bottom">Have you registered before?</p>
				</div>
				<div>
					<div cpn-row-list="middle">
						<div>
							<button cpn-button="{{if existingUserSelected 'chosen'}}" {{action "selectLoginType" "existingUser"}}>Existing user</button>
						</div>
						<div>
							<button cpn-button="{{if newUserSelected 'chosen'}}" {{action "selectLoginType" "newUser"}}>New user</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{{#if loginTypeSelected}}
			<div cpn-divide="bottom" cpn-margin="bottom-double">
				<div cpn-row-list="middle">
					<div>
						{{#if existingUserSelected}}
							<p cpn-margin="bottom">Enter your username:</p>
						{{else}}
							<p cpn-margin="bottom">Create your username:</p>
						{{/if}}
					</div>
					<div>
						<p cpn-margin="bottom">
							{{input value=username type="text" placeholder="e.g. Dashboard King"}}
						</p>
					</div>
				</div>
			</div>
			
			{{#if message}}
				<p cpn-message="error" cpn-margin="bottom-double">{{message}}</p>
			{{/if}}
		
			<button cpn-button="action" {{action "submit"}}>
				{{#if existingUserSelected}}
					Log me in
				{{else}}
					Sign me up
				{{/if}}
			</button>
		{{/if}}
		
	{{/unless}}
	
	{{yield}}
</div>