{{#stories/story-base}}

    <h3 spc-nhs-rag_title cpn-story_title cpn-margin="bottom-none">{{treatmentName}}</h3>
    
    <p spc-nhs-rag_value cpn-font="30px 500" cpn-margin="bottom-none">{{value}}%</p>
    
    <div cpn-clearfix>
        <div cpn-float="left">
            <span cpn-display="block" cpn-text="uppercase" cpn-font="10px">High CCG</span>
            <span spc-nhs-rag_comparison="top" cpn-padding="{{topPadding}}" cpn-divide="{{topBorder}}" cpn-bg-color="{{topColour}}">{{topValue}}%</span>
        </div>
        
        <div cpn-float="right" cpn-text="right">
            <span cpn-display="block" cpn-text="uppercase" cpn-font="10px">Low CCG</span>
            <span spc-nhs-rag_comparison="low" cpn-padding="{{lowPadding}}" cpn-divide="{{lowBorder}}" cpn-bg-color="{{lowColour}}">{{lowValue}}%</span>
        </div>
    </div>
    
    <a spc-nhs-rag_link href="javascript:;" cpn-font="12px 700" cpn-margin="bottom-none" cpn-text="none">Tap to view</a>
    
{{/stories/story-base}}
