<div>
	<div cpn-divide="bottom">
		<h2 cpn-frame_heading>Create a category</h2>
	</div>

	<h3>Current Categories</h3>
	{{
		select-2
		content=allCategories
		value=id
		optionLabelPath="title"
		placeholder="Choose a category"
		multiple=true
	}}
	
	{{yield}}
	
	<p>
		{{input value=category.title autocapitalize="words"}}
		{{#if category.errors.title}}
			<br />{{category.errors.title.message}}
		{{/if}}
	</p>
	
	{{#each category.errors.messages as |message|}}
		<p cpn-message="error">
			{{message}}
		</p>
	{{/each}}
	
	<p cpn-display="inline-block">
		<button cpn-button="action" {{action "save"}}>Save new category</button>
	</p>

</div>