<div class="stat-notice">
	<div class="stat-notice__section -two-thirds">
		<div cpn-divide="bottom" cpn-clearfix>			
			<div cpn-float="left" cpn-margin="bottom">
			    <div cpn-button="ghost">
			        <span data-grunticon-embed class="{{statnotice-type-icon model.type '-black'}}"></span>
			        {{model.type}}
			    </div>
			</div>
		    <div cpn-float="right" cpn-margin="bottom">
		        <div cpn-button="ghost">
		            <span>Publication date:</span>
		            <time> {{format-date "DD/MM/YYYY" model.publicationDate}}</time>
		        </div>
		    </div>
		</div>
		<div cpn-divide="bottom">
			<h2 class="alpha">{{model.proposal}}</h2>
		</div>
		<div cpn-divide="bottom">
			<p class="stat-notice__description">
				{{#if model.proposalDetails}}
					{{model.proposalDetails}}
				{{else}}
					There are no further details for this notice.
				{{/if}}
			</p>
		</div>
		<div class="stat-notice__map">
		        {{google-map 
		            lat=model.lat 
		            lng=model.lng 
		            zoom=15
					markers=model.markers
		            gopt_zoomControl=false
		            gopt_mapTypeControl=false
					gopt_draggable=false
					gopt_scrollwheel=false
	            }}
	            {{!-- 
				todo: map marker stays centered regardless of zooming & panning
					gopt_styles=mapStyle --}}
		</div>
		<div class="stat-notice__section -full">
			<div class="stat-notice__section -half">
				<div class="stat-notice__address solid-area -all -rounded -dark">
					<div class="icon solid-area -right -dark svg-stat-notice-icon-location-pin"></div>
					<p class="pad-all">{{{model.fullAddress}}}</p>
				</div>
{{!-- 				<div class="btn-list -borderless">
					<button class="btn -half svg-stat-notices-icon-phone" data-grunticon-embed>Phone</button>
					{{#if model.objectionEmail}}
						<a href="mailto:{{model.objectionEmail}}" class="btn -full svg-stat-notices-icon-email" data-grunticon-embed>Email</a>
					{{/if}}
				</div> --}}
			</div>
			<div class="stat-notice__section -half">
				<div cpn-divide="top bottom">
					<h3 class="-beta">Sign-off</h3>
				</div>
				<div cpn-divide="bottom">
					<h4 class="beta">Contact name: {{model.signOffName}}</h4>
					<p class="story__para">{{model.signOffDetails}}</p>
				</div>
			</div>
			<div class="cf">&nbsp;</div>
		</div>
		<div class="cf">&nbsp;</div>
	</div>
	<div class="stat-notice__section -one-third">
		<div class="stat-notice__represent pad-all">
			<div cpn-divide="bottom light">
				<h2 class="alpha">Make your voice heard</h2>
			</div>
			<div cpn-divide="bottom light">
				<p>Use the link below to access Public Access, a Leeds City Council service that provides a simple way for you to make an official response to this application. The deadline for representations is {{{model.objectionDeadlineTime}}} on {{{format-date "DD/MM/YYYY" model.objectionDeadlineDate}}}.</p>
			</div>
			<a cpn-button="move" href="{{model.publicAccessURL}}" target="_blank">Visit Public Access</a>
		</div>
	</div>
	<div class="stat-notice__section -one-third">
		<div class="stat-notice__legislation pad-all">
			<div cpn-divide="bottom light">
				<h2 class="alpha">The legal bit</h2>
			</div>
			<div cpn-divide="bottom light">
				<p>The advertisement of Public Notices like this one is required by law. Use the link below to view the {{{model.legislationTitle}}}, which governs all {{{model.type}}} applications.</p>
			</div>
			<a cpn-button="move" href="{{model.legislationURI}}" target="_blank">View the legislation</a>
		</div>
	</div>
	{{yield}}
	<div class="cf">&nbsp;</div>
	
</div>
