{{#stories/story-base}}
    
    <p spc-bin-levels_label>Bin day</p>
    
    <div spc-bin-levels="{{if isBinDay 'is-bin-day'}}">
        <div spc-bin-levels-progress="{{if (gt rotationAmount 0) 'is-visible'}}">
            <div spc-bin-levels-progress_slice="{{if (gt rotationAmount '50') '>50'}}">
                <div spc-bin-levels-progress_bar="{{if isBinDay 'is-bin-day'}}" style="-webkit-transform: rotate({{rotationAmount}}deg); -moz-transform: rotate({{rotationAmount}}deg); transform: rotate({{rotationAmount}}deg);"></div>
                
                {{!-- {{#if (gt rotationAmount '50')}} --}}
                <div spc-bin-levels-progress_fill="{{if (gt rotationAmount '50') '>50'}} {{if isBinDay 'is-bin-day'}}"></div>
                {{!-- {{/if}} --}}
            </div>
        </div>
        
        <div spc-bin-levels_bin-day="{{if isBinDay 'is-bin-day'}}" style="-webkit-transform: rotate({{rotationAmount}}deg); -moz-transform: rotate({{rotationAmount}}deg); transform: rotate({{rotationAmount}}deg);" class="svg-bin icon-bin" data-grunticon-embed></div>
        <div spc-bin-levels-fill>
            <div spc-bin-levels-fill_inner>
                <div spc-bin-levels-fill_circle="back">
                    <div spc-bin-levels-fill_data="back">
                        <p spc-bin-levels-fill_desc="back">{{{fillText}}}</p>
                        <div spc-bin-levels-fill_label-level>
                            <p spc-bin-levels-fill_label>Fill level</p>
                            <p spc-bin-levels-fill_level>{{fillPercentage}}%</p>
                        </div>
                    </div>
                </div>
                <div spc-bin-levels-fill_circle="front {{fillColour}}" style="margin-top: {{fillPercentageRemaining}}%;">
                    <div spc-bin-levels-fill_circle-inner="front" style="top: -{{fillPercentageRemaining}}%;">
                        <div spc-bin-levels-fill_data="front">
                            <p spc-bin-levels-fill_desc="front">{{{fillText}}}</p>
                            <div spc-bin-levels-fill_label-level>
                                <p spc-bin-levels-fill_label="front">Fill level</p>
                                <p spc-bin-levels-fill_level="front">{{fillPercentage}}%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div spc-bin-levels-stats>
        <div cpn-table="fixed">
            <div cpn-table_cell="middle" cpn-width="50%" cpn-padding="all-half">
                <div spc-bin-levels-stats_icon data-grunticon-embed class="svg-bin icon-bin"></div>
                {{#if (eq recyclingTrend 'more')}}
                <p spc-bin-levels-stats_update>You have recycled {{recyclingPercentage}}% more than usual so far</p>
                {{/if}}
                
                {{#if (eq recyclingTrend 'less')}}
                <p spc-bin-levels-stats_update>You have recycled {{recyclingPercentage}}% less than usual so far</p>
                {{/if}}
                
                {{#if (eq recyclingTrend 'same')}}
                <p spc-bin-levels-stats_update>You have recycled the same as usual so far</p>
                {{/if}}
            </div>
            <div cpn-table_cell="middle" cpn-width="50%" cpn-bg-color="white" cpn-padding="top-half right bottom-half left">
                <p spc-bin-levels-stats_status>Battery</p>
                <p spc-bin-levels-stats_status>Connected</p>
            </div>
        </div>
    </div>
    
{{/stories/story-base}}
