<section cpn-bid-edit-section>
    {{#if nested}}
    <h3 cpn-bid-edit-section_header="{{sectionOpenState}}" {{action "toggleSection"}}>{{title}}</h3>
    <main cpn-bid-edit-section_body="{{sectionOpenState}}">
        {{#if multiplePeople}}
            {{
                select-2
                content=people
                value=chosenPerson
                placeholder="Person"
                optionLabelPath="name"
            }}
        {{/if}}
        
        {{#if chosenPerson}}
            {{#if chosenPerson.name}}
            <p>{{chosenPerson.name}}</p>
            {{/if}}
            
            {{#if chosenPerson.jobTitle}}
            <p>{{chosenPerson.jobTitle}}</p>
            {{/if}}
            
            {{#if chosenPerson.votingFor}}
            <p>{{chosenPerson.votingFor}}</p>
            {{/if}}
        {{/if}}
    </main>
    {{else}}
    {{#if multiplePeople}}
        {{
            select-2
            content=people
            value=chosenPerson
            placeholder="Person"
            optionLabelPath="name"
        }}
    {{/if}}
    
    {{#if chosenPerson}}
        {{#if chosenPerson.name}}
        <p>{{chosenPerson.name}}</p>
        {{/if}}
        
        {{#if chosenPerson.jobTitle}}
        <p>{{chosenPerson.jobTitle}}</p>
        {{/if}}
        
        {{#if chosenPerson.votingFor}}
        <p>{{chosenPerson.votingFor}}</p>
        {{/if}}
    {{/if}}
    {{/if}}
</section>