<section cpn-bid-edit-section>
    <h3 cpn-bid-edit-section_header="{{sectionOpenState}}" {{action "toggleSection"}}>People</h3>
    <main cpn-bid-edit-section_body="{{sectionOpenState}}">
        
        {{#if multiplePeople}}
            {{
                select-2
                content=people
                value=chosenPerson
                placeholder="Person"
                optionLabelPath="name"
            }}
        {{/if}}
        
        {{#if chosenPerson}}
            {{#if chosenPerson.0.name}}
            <p>{{chosenPerson.0.name}}</p>
            {{/if}}
            
            {{#if chosenPerson.0.jobTitle}}
            <p>{{chosenPerson.0.jobTitle}}</p>
            {{/if}}
            
            {{#if chosenPerson.0.votingFor}}
            <p>{{chosenPerson.0.votingFor}}</p>
            {{/if}}
        {{/if}}
    </main>
</section>