	<div class="drawer__header">
		<div cpn-divide="bottom" cpn-clearfix>
			{{#ui/generic-element action="closeBottomDrawer" tagName="a" classes="js-close-bottom-drawer float--right drawer__close svg-close-drawer"}}
			{{/ui/generic-element}}
			<h2 cpn-margin="bottom">Add a story</h2>
		</div>
		
		<div cpn-divide="bottom">
			<ul cpn-row-list spc-story-drawer-buttons>
				<li>
					<button cpn-button {{action "switchView" 'categories' }} data-btn-type="categories">Categories</button>
				</li>
				<li>
					<button cpn-button {{action "switchView" 'featured' }} data-btn-type="featured">Featured</button>
				</li>
				<li>
					<button cpn-button {{action "switchView" 'search' }} data-btn-type="search">Search</button>
				</li>
				{{!-- <button class="btn -toggle" {{action "switchView" 'official' }} data-btn-type="official">Official</button>--}}
				{{#if isAdmin}}
					<li spc-story-drawer-create>
						<button cpn-button="move" {{action "changeBottomDrawerContent" "stories/create-a-story"}}>Create a story</button>
					</li>
				{{/if}}
			</ul>
		</div>
		
		{{!-- <div class="js-bottom-drawer-button btn-list margin-top-no">
			<button class="btn -toggle" {{action "switchView" 'categories' }} data-btn-type="categories">Categories</button>
			<button class="btn -toggle" {{action "switchView" 'featured' }} data-btn-type="featured">Featured</button>
			<button class="btn -toggle" {{action "switchView" 'search' }} data-btn-type="search">Search</button>
			{{#if isAdmin}}
				<button class="btn -blue -create float--right" {{action "changeBottomDrawerContent" "stories/create-a-story"}}>
					<span class="icon-conversation svg-conversation" data-grunticon-embed></span>
					Create a story
				</button>
			{{/if}}
		</div> --}}
	</div>

	<div class="drawer__inner">
		{{yield}}
		{{#if currentView}}
			{{!-- DISPLAY COMPONENT BASED ON CURRENT VIEW PROPERTY --}}
			{{component currentView}}
		{{/if}}
	</div>