{{#stories/story-base}}
    <div cpn-margin="bottom">
        {{
            select-2
            content=items
            value=selectedCarPark
            optionValuePath="id"
            optionLabelPath="title"
            placeholder="Choose a Car Park"
        }}
    </div>

    {{#if selectedCarPark}}
    <p>
        <span spc-carpark-spaces_available-number>{{currentCarPark.available}}</span>
        <span cpn-v-align="middle">spaces available</span>
    </p>

    {{google-map 
        lat=lat 
        lng=lng 
        zoom=zoom
        markers=markers
        gopt_styles=mapStyles
        gopt_zoomControl=false
        gopt_mapTypeControl=false
    }}
    {{else}}
        {{loading-icon}}
    {{/if}}
{{/stories/story-base}}
