{{yield}}
{{#if isTextArea}}
	{{textarea 
		value=field.value 
		placeholder=field.placeholder}}
		{{!-- focus-in="focus-in" 
		focus-out="focus-out" --}} 
{{else if isDatePicker}}
	<p>Date Picker example</p>
{{else if isSelectField}}
	{{select-2
		content=field.options
		value=field.value}}
{{else}}
	{{input type=field.type value=field.value placeholder=field.placeholder}}
{{/if}}
