
<section class="gallery__section -search">
		<div class="search">
			<div class="search__input-wrapper {{if isLoading '-loading'}}">
				{{input value=debouncedSearchTerm class="search__input delta" placeholder="Search"}}
				{{#if showClear}}
					<button value="clear" {{action 'clearSearchTerm'}} class="search__clear svg-input-clear">Clear</button>
				{{/if}}
			</div>
		</div>

		{{#if items}}
			<h3 cpn-thumb-list_heading>Search Results</h3>

			<div cpn-thumb-list_wrapper cpn-divide="bottom">
			    <ul cpn-thumb-list_items>        
			        {{#each items as |canvas|}}
			        	{{stories/story-library/list-view-thumbnail model=canvas action="loadACanvas" thumb-icon="add-canvas"}}
			        {{/each}}
			    </ul>
			</div>
		{{/if}}
		{{#if noResults}}
			<h3 cpn-thumb-list_heading>We're sorry, we couldn't find any matching canvasses.</h3>
		{{/if}}
				
		{{yield}}	
</section>
