{{yield}}
<section class="drawer__section -search">
	{{!-- <div class="search">
		{{input value=debouncedSearchTerm class="search__input delta" placeholder="Search"}}
	</div> --}}
	
	<div class="search">
		<div class="search__input-wrapper {{if isLoading '-loading'}}">
			{{input value=debouncedSearchTerm class="search__input delta" placeholder="Search"}}
			{{#if showClear}}
				<button value="clear" {{action 'clearSearchTerm'}} class="search__clear svg-input-clear">Clear</button>
			{{/if}}
		</div>
	</div>

	{{#if stories}}
		<h3 cpn-thumb-list_heading>Search Results</h3>

		<div cpn-thumb-list_wrapper cpn-divide="bottom">
		    <ul cpn-thumb-list_items>
		        {{#each stories as |story|}}
		            {{stories/story-library/list-view-thumbnail model=story action="addAStory" thumb-icon="add-story"}}
		        {{/each}}
		    </ul>
		</div>
	{{/if}}
	
	{{#if noResults}}
		<h3 cpn-thumb-list_heading>We're sorry, we couldn't find any matching stories.</h3>
	{{/if}}
</section>
