<div spc-canvas-settings="">
	<h2>Canvas Settings</h2>
	{{yield}}
	
	<div cpn-row-list="">
		<div cpn-width="50%" cpn-bg-color="white">
			{{ select-2
				content=canvasSettings.zones
				value=canvasSettings.selectedZone
				placeholder="Choose a zone"
				class="margin-bottom-no"
			}}
		</div>
		
		<div cpn-width="50%">
			{{input value=canvasSettings.searchTerm placeholder="Filter by search term"}}
		</div>
		<div cpn-width="50%">
			{{pikaday-input value=canvasSettings.startDate format="MM/DD/YYYY"}}
		</div>
		<div cpn-width="50%">
			{{pikaday-input value=canvasSettings.endDate format="MM/DD/YYYY"}}
		</div>
	</div>

</div>
