<div spc-canvas-settings="">
	<h2>Filter Canvas</h2>
	{{yield}}
	
	<div cpn-row-list="">
		<div cpn-width="100%" cpn-bg-color="white">
			<label for="" cpn-font-weight="600" cpn-display="block">Zone</label>
			{{ select-2
				content=canvasSettings.zones
				value=canvasSettings.selectedZone
				placeholder="Choose a zone"
				class="margin-bottom-no"
			}}
		</div>
		
		{{!--
		<div cpn-width="50%">
			{{input value=canvasSettings.searchTerm placeholder="Filter by search term"}}
		</div>
		--}}
		<div cpn-width="50%">
			<label cpn-font-weight="600" for="" cpn-display="block">Start Date</label>
			{{pikaday-input value=canvasSettings.startDate format="DD/MM/YYYY"}}
		</div>
		<div cpn-width="50%">
			<label cpn-font-weight="600" for="" cpn-display="block">End Date</label>
			{{pikaday-input value=canvasSettings.endDate format="DD/MM/YYYY"}}
		</div>
	</div>

</div>
