<div cpn-thumb-list_icon="{{thumb-icon}}"></div>
<h4 cpn-thumb-list_title>{{model.title}}</h4>
<p cpn-thumb-list_meta>
    {{#each model.categories as |cat|}}
        {{cat.title}}
    {{/each}}
</p>

{{#if canDelete}}
<p cpn-margin="top-half">
    <button {{action 'deleteCanvas' model}} cpn-button="small action">Delete</button>
</p>
{{/if}}
    
{{yield}}