<div cpn-story_inner>
    
    <div cpn-story_face="front {{support3d}} {{storyFlip}}" cpn-bg-color="{{storyConfig.color}}">
        {{#if storyConfig.showLoading}}
            {{#unless loaded}}
            <div spc-story-loader cpn-bg-color="{{storyConfig.color}}">Loading</div>
            {{/unless}}
        {{/if}}
    
        {{#if storyHandleIsDot}}
        <a href="javascript:;" class="js-cogs ui-draggable-handle" cpn-story_dot="front">Flip Story</a>
        {{/if}}
        
        {{#if storyHandleIsBar}}
        <a href="javascript:;" class="js-bars ui-draggable-handle" cpn-story_bar="front">Move Story</a>
        {{/if}}
        
        {{#if storyHandleIsBoth}}
        <a href="javascript:;" class="js-cogs ui-draggable-handle" cpn-story_dot="front with-bar">Flip Story</a>
        <a href="javascript:;" class="js-bars ui-draggable-handle" cpn-story_bar="front with-dot">Move Story</a>
        {{/if}}
        
        <section cpn-story_content="front {{usableHeight}} {{hasHeader}} {{hasFooter}}">
            
            {{#if storyConfig.headerImage}}
                <header cpn-story_header="{{headerSize}}" {{hasHeaderDivide}}>
                    <img src="{{storyConfig.headerImage}}" height="24">
                </header>
            {{else if storyConfig.title}}
                <header cpn-story_header="{{headerSize}}" {{hasHeaderDivide}}>
                    <h2 cpn-story_title>{{storyConfig.title}}</h2>
                    <h3 cpn-story_desc>{{storyConfig.subTitle}}</h3>
                </header>
            {{/if}}
            
            <main cpn-story_body="{{hasHeader}} {{usableHeight}} {{hasSlider}} {{canScroll}}">
                {{yield}}
            </main>
            
            {{#unless storyConfig.viewOnly}}
                <footer cpn-story_footer cpn-clearfix cpn-divide="top solid {{lineShade}}">
                    {{#if storyConfig.author}}
                    <p cpn-story_author>Author: {{storyConfig.author}}</p>
                    {{else if storyConfig.authorImage}}
                    <img src="{{storyConfig.authorImage}}" height="17">
                    {{/if}}
                </footer>
            {{/unless}}
            
        </section>
        
    </div>
    
    <div cpn-story_face="back {{support3d}} {{storyFlip}}">
        {{#if storyHandleIsDot}}
        <a href="javascript:;" class="js-cogs ui-draggable-handle" cpn-story_dot="back">Flip Story</a>
        {{/if}}
        
        {{#if storyHandleIsBar}}
        <a href="javascript:;" class="js-bars ui-draggable-handle" cpn-story_bar="back">Move Story</a>
        {{/if}}
        
        {{#if storyHandleIsBoth}}
        <a href="javascript:;" class="js-cogs ui-draggable-handle" cpn-story_dot="back with-bar">Flip Story</a>
        <a href="javascript:;" class="js-bars ui-draggable-handle" cpn-story_bar="back with-dot">Move Story</a>
        {{/if}}
        
        <section cpn-story_content="back {{usableHeight}}">
            {{#if storyConfig.viewOnly}}
                <div cpn-padding="top">
                    <p>
                        <button cpn-button="action small" {{action 'removeAStory' storyModel}}>Remove Story</button>
                    </p>
                    {{#if configFields}}
                    <p>
                        <button cpn-button="action small" {{action 'editAStory' storyModel}}>Edit</button>
                    </p>
                    {{/if}}
                </div>
            {{else}}
                {{#if storyConfig.description}}
                    <div cpn-divide="bottom light">
                        <h3 cpn-story_title cpn-margin="bottom-none">Description</h3>
                        <p cpn-story_desc>{{usableDescription}}</p>
                    </div>
                {{/if}}
                
                {{#if storyConfig.license}}
                    <div cpn-divide="bottom light">
                        <h3 cpn-story_title cpn-margin="bottom-none">Licence / Attribution</h3>
                        <p cpn-story_desc>{{usableLicense}}</p>
                    </div>
                {{/if}}
                
                <ul cpn-row-list>
                    {{#if storyConfig.dataSourceUrl}}
                    <li cpn-width="50%">
                        <a href="{{storyConfig.dataSourceUrl}}" cpn-button="move small" target="_blank">View data source</a>
                    </li>
                    {{/if}}
                    {{#if storyConfig.feedbackEmail}}
                    <li cpn-width="50%">
                        <a href="mailto:{{storyConfig.feedbackEmail}}" cpn-button="move small" target="_blank">Contact author</a>
                    </li>
                    {{/if}}
                    <li cpn-width="100%">
                        <button cpn-button="action small" {{action 'removeAStory' storyModel}}>Remove from canvas</button>
                    </li>
                </ul>
                
				{{#if configFields}}
                    <button cpn-button="action small" {{action 'editAStory' storyModel}}>Edit</button>                
                {{/if}}
            {{/if}}
        </section>
        
    </div>
    
</div>