<div cpn-story_inner>
    
    <div cpn-story_face="front {{support3d}} {{storyFlip}}" cpn-bg-color="{{color}}">
        <a href="javascript:;" class="js-cogs ui-draggable-handle" cpn-story_dot="front">Flip Story</a>
        
        <section cpn-story_content="front {{usableHeight}} {{hasFooter}}">
            
            <header cpn-story_header cpn-divide="bottom">
                {{#if headerImage}}
                    <img src="{{headerImage}}" height="24">
                {{else if title}}
                    <h2 cpn-story_title>{{title}}</h2>
                    <h3 cpn-story_desc>{{subTitle}}</h3>
                {{/if}}
            </header>
            
            <main cpn-story_body>
                {{yield}}
            </main>
            
            {{#unless viewOnly}}
                <footer cpn-story_footer cpn-clearfix>
                    {{#if author}}
                    <p cpn-story_author>Author: {{author}}</p>
                    {{else if authorImage}}
                    <img src="{{authorImage}}" height="17">
                    {{/if}}
                </footer>
            {{/unless}}
            
        </section>
        
    </div>
    
    <div cpn-story_face="back {{support3d}} {{storyFlip}}">
        <a href="javascript:;" class="js-cogs ui-draggable-handle" cpn-story_dot="back">Flip Story</a>
        
        <section cpn-story_content="back {{usableHeight}}">
            {{#if viewOnly}}
                <button cpn-margin="top" cpn-button="action small" {{action 'removeAStory' storyModel}}>Remove Story</button>
            {{else}}
                <div cpn-divide="bottom light">
                    <h4 cpn-margin="bottom-none">Description</h4>
                    {{#if description}}
                        <p>{{description}}</p>
                    {{else}}
                        <p>This story has no description.</p>
                    {{/if}}
                </div>
                
                <div cpn-divide="bottom light">
                    <h4 cpn-margin="bottom-none">Licence / Attribution</h4>
                    {{#if license}}
                        <p>{{license}}</p>
                    {{else}}
                        <p>This story has no license.</p>
                    {{/if}}
                </div>
                
                <ul cpn-row-list>
                    <li cpn-width="50%">
                        <a href="{{dataSourceUrl}}" cpn-button="move small" target="_blank">View data source</a>
                    </li>
                    <li cpn-width="50%">
                        <a href="mailto:{{feedbackEmail}}" cpn-button="move small" target="_blank">Contact author</a>
                    </li>
                    <li cpn-width="100%">
                        <button cpn-button="action small" {{action 'removeAStory' storyModel}}>Remove from canvas</button>
                    </li>
                </ul>
            {{/if}}
        </section>
        
    </div>
    
</div>