<div class="story__inner">
    <div class="story__card -front {{if viewOnly 'js-drag-handle'}}">
        {{!-- #unless viewOnly}}<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>{{/unless --}}
        
        <a href="javascript:;" class="js-cogs" spc-dot>Settings</a>
        
        <div class="story__content">
            {{#if headerImage}}
                <header class="story__header">
                    <div class="header-img"><img src="{{headerImage}}" height="24"></div>
                </header>
            {{else if title}}
                <header class="story__header">
                    <h2 class="heading beta">{{title}}</h2>
                    <h3 class="heading gamma">{{subTitle}}</h3>
                </header>
            {{/if}}
            
        	{{yield}}
            
            {{#unless viewOnly}}
                <footer class="story__footer gamma">
                    {{#if author}}
                            <div class="author">Author: {{author}}</div>
                    {{else if authorImage}}
                            <div class="author author-img"><img src="{{authorImage}}" height="17"></div>
                    {{/if}}
                </footer>
            {{/unless}}
        </div>
    </div>

    <div class="story__card -back">
        <a href="javascript:;" class="js-cogs icon icon-cogs icon-reverse svg-reverse" data-grunticon-embed>Settings</a>
        <div class="story__content">
            {{#if viewOnly}}
                <div class="btn-list -borderless">
                    <button class="btn -red -full margin-top" {{action 'removeAStory' storyModel}}>
                        Remove Story    
                    </button>
                </div>
            {{else}}
                <header class="story__header">
                    <h2 class="heading beta">{{title}}</h2>
                    <h3 class="heading gamma">{{subTitle}}</h3>
                </header>
                <div class="btn-list">
                    {{ui/button-link href=dataSourceUrl title="View Data Source" class="btn -blue -half"}}
                    {{ui/button-link href=feedbackEmail type="mail" title="Contact Author" class="btn -blue -half"}}
                    <div class="cf"></div>
                    <button class="btn -red -full half-margin-top" {{action 'removeAStory' storyModel}}>
                        Remove from canvas    
                    </button>
                </div>
                
                {{#if configFields}}
                    {{#each configFields as |field|}}
                        {{input type=field.type value=field.value placeholder=field.placeholder}}
                    {{/each}}
                {{/if}}
                
                {{#if description}}
                    <div class="dotted-area -bottom -dark pad-bottom margin-bottom">
                        <h2 class="beta bold half-margin-bottom">Description</h2>
                        <p class="story__para">{{description}}</p>
                    </div>
                {{/if}}
                {{#if license}}
                    <div class="margin-bottom">
                        <h2 class="beta bold half-margin-bottom">Licence / Attribution</h2>
                        <p class="story__para">{{{license}}}</p>
                    </div>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>