{{#stories/story-base}}
<main class="lcc-enquiries">
    <div cpn-padding="top right left">
        {{
            select-2
            content=months
            value=selectedMonth
            placeholder="Choose a month"
            cssClass="hebe-select-2"
        }}
    </div>
    <div cpn-padding="right left" class="lcc-enquiries__totals">
        <div class="dotted-area -all -pad">
            <h2 class="heading beta">Face to Face</h2>
            <i class="svg-msn-messenger">Call receiver icon</i>
            <span class="lcc-enquiries__total"><em class="number-stat -medium">{{large-number-formatter selectedMonth.face}}</em> Enquiries</span>
        </div><!--
        --><div class="dotted-area -all -pad">
            <h2 class="heading beta">Telephone</h2>
            <i class="svg-headset">Headset icon</i>
            <span class="lcc-enquiries__total"><em class="number-stat -medium">{{large-number-formatter selectedMonth.phone}}</em> Enquiries</span>
        </div>
    </div>
    <!--<h3 class="alpha">Total Enquiries: {{totalEnquiries}}</h3>-->
      {{#stories/story-slider loaded=loaded}}
            {{#stories/story-slide}}
                <table class="lcc-enquiries__table">
                    <thead>
                        <td>Most enquiries by postcode</td>
                        <td>No. enquiries</td>
                        <td>% total</td>
                    </thead>
                    <tbody>
                        {{#each item in selectedMonth.topPostcodes}}
                            <tr><td>{{item.postcode}}</td><td>{{large-number-formatter item.total}}</td><td>{{item.percentage}}%</td></tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/stories/story-slide}}
            {{#stories/story-slide}}
                <table class="lcc-enquiries__table">
                    <thead>
                        <td>Most Contacted Services</td>
                        <td>No. enquiries</td>
                        <td>% total</td>
                    </thead>
                    <tbody>
                        {{#each item in selectedMonth.topEnquiries}}
                            <tr><td>{{item.enquiry}}</td><td>{{large-number-formatter item.total}}</td><td>{{item.percentage}}%</td></tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/stories/story-slide}}
        {{/stories/story-slider}}
</main>
{{/stories/story-base}}
