{{#stories/story-base 
    title=title 
    subTitle=subTitle 
    color="-white" 
    width="-w2" 
    height="-h2" 
    data-ss-colspan="2"

    dataSourceUrl="http://leedsdatamill.org/dataset/customer-services-contact-enquiries"
    feedbackEmail="nathan@hebeworks.com"
    description="This Story uses Customer Service Contact Enquiries data from Leeds Data Mill"
    license="<a href='http://leedsdatamill.org/dataset/customer-services-contact-enquiries' target='_blank'>Customer Services Contact Enquiries</a>, © Leeds City Council, 2015. This information is licensed under the terms of the Open Government Licence"

    author="Nathan Smith"
}}
<main class="lcc-enquiries">
    <div>
        {{
            select-2
            content=months
            value=selectedMonth
            placeholder="Choose a month"
            cssClass="hebe-select-2"
        }}
    </div>
    <div class="lcc-enquiries__totals">
        <div class="dotted-area -all -pad">
            <h2 class="heading beta">Face to Face</h2>
            <i class="svg-msn-messenger">Call receiver icon</i>
            <span class="lcc-enquiries__total"><em class="number-stat -medium">{{number-thousand-format face}}</em> Enquiries</span>
        </div><!--
        --><div class="dotted-area -all -pad">
            <h2 class="heading beta">Telephone</h2>
            <i class="svg-headset">Headset icon</i>
            <span class="lcc-enquiries__total"><em class="number-stat -medium">{{number-thousand-format phone}}</em> Enquiries</span>
        </div>
    </div>
    <!--<h3 class="alpha">Total Enquiries: {{totalEnquiries}}</h3>-->
      {{#stories/story-slider loaded=loaded}}
            {{#stories/story-slide}}
                <table class="lcc-enquiries__table">
                    <thead>
                        <td>Most enquiries by postcode</td>
                        <td>No. enquiries</td>
                        <td>% total</td>
                    </thead>
                    <tbody>
                        {{#each item in topPostcodes}}
                            <tr><td>{{item.postcode}}</td><td>{{number-thousand-format item.total}}</td><td>{{item.percentage}}%</td></tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/stories/story-slide}}
            {{#stories/story-slide}}
                <table class="lcc-enquiries__table">
                    <thead>
                        <td>Most Contacted Services</td>
                        <td>No. enquiries</td>
                        <td>% total</td>
                    </thead>
                    <tbody>
                        {{#each item in topEnquiries}}
                            <tr><td>{{item.enquiry}}</td><td>{{number-thousand-format item.total}}</td><td>{{item.percentage}}%</td></tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/stories/story-slide}}
        {{/stories/story-slider}}
</main>
{{/stories/story-base}}
